<section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="assets/logo.png" alt="Medicenter">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="home" routerLinkActive="is-active">
              Inicio
              
            </a>
            <a class="navbar-item" routerLink="agenda" routerLinkActive="is-active">
              Agenda
            </a>
            <a class="navbar-item" routerLink="doctores" routerLinkActive="is-active">
              Doctores
            </a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Suscribete</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>