<section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="assets/logo.png" alt="Medicenter" routerLink="/home">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">
              Inicio
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-item">
                Agenda
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" routerLink="/admin/agenda/crear" routerLinkActive="is-active">
                  Crear
                </a>
                <a class="navbar-item" routerLink="/admin/agenda/listar" routerLinkActive="is-active">
                  Listar
                </a>
              </div>
            </div>            
            <a class="navbar-item" routerLink="/admin/doctores" routerLinkActive="is-active">
              Doctores
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-item">
                Citas medicas
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" routerLink="/cliente/citas-medicas/nueva/1" routerLinkActive="is-active">
                  Nueva
                </a>
                <a class="navbar-item" routerLink="/cliente/citas-medicas/listar" routerLinkActive="is-active">
                  Listar
                </a>
              </div>
            </div>
            <span class="navbar-item">
              <a class="button is-primary is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Suscribete</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>